<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <h2>Your Job Diary</h2>
          <div class="box">
            <h4>Today</h4>
            <h5 class="notification">
              <button class="delete is-small"></button>
              <span class="tag is-light is-medium">
                You have added <%= current_user_daily_job_listing_num %>
                job application(s),
                <% if current_user_daily_job_listing_num.to_i >= 5 %>
                You have met your daily goal of <span class="tag is-success is-medium"> 5 </span> job applications.
                <% else %>
                <span class="tag is-danger is-medium"> <%= remain_daily_goals%> </span> more jobs to meet your daily goal
                <% end %>
            </span>
            </h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a>#css</a> <a>#responsive</a>
            <br>
          </div>
          <hr>
          <div class="box">
            <h4>This Week</h4>
            <h5 class="notification">
              <span class="tag is-light is-medium">
                <button class="delete is-small"></button>
                You have added <%= current_user_weekly_job_listing_num %>
                job application(s),
                <% if current_user_daily_job_listing_num.to_i >= 35 %>
                You have met your weekly goal of <span class="tag is-success is-medium"> 35 </span> job applications.
                <% else %>
                <span class="tag is-danger is-medium"> <%= remain_weekly_goals %> </span> more jobs to meet your weekly goal.
                <% end %>
            </span>
            </h5>
            <small>11:09 PM - 1 Jan 2016</small>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- attatch template to this -->
<section class="section dashboard">
  <div class="container">
    <!-- This is the header row -->
    <div class="columns job-listing">
      <div class="column is-1">Date Added</div>
      <div class="column is-2">Position</div>
      <div class="column is-2">Company</div>
      <div class="column is-2">Contact</div>
      <div class="column is-2">Url</div>
      <div class="column is-2">Notes</div>
      <div class="column is-1 notification is-success">Status</div>
    </div>

    <div class="job-listings">
      <!-- attach template to .job-listings -->
    </div>
  </div>
</section>

<section class="section edit-form-wrap">

</section>





<!-- Template to edit particular listing  -->
<script id="edit-listing-template" type="text/x-handlebars-template">
  <form class="" action="index.html" method="post">
  <div class="column if-half">
    <div class="field">
      <!-- <label class="label">Position</label> -->
      <p class="control">
        <input class="input listing-position" type="text" placeholder="{{ position }}" >
      </p>
    </div>
    <div class="field">
      <!-- <label class="label">Company</label> -->
      <p class="control">
        <input class="input listing-company" type="text" placeholder="{{ company }}" >
      </p>
    </div>
    <div class="field">
      <!-- <label class="label">Contact</label> -->
      <p class="control">
        <input class="input listing-contact" type="text" placeholder="{{ contact }}" >
      </p>
    </div>
    <div class="field">
      <!-- <label class="label">URL</label> -->
      <p class="control">
        <input class="input listing-url" type="text" placeholder="{{ url }}" >
      </p>
    </div>
    <div class="field">
      <!-- <label class="label">NOTES</label> -->
      <p class="control">
        <input class="input listing-notes" type="text" placeholder="{{ notes }}" >
      </p>
    </div>
    <div class="field">
      <!-- <label class="label">NOTES</label> -->
      <p class="control">
        <input class="input listing-status" type="text" placeholder="{{ status }}" >
      </p>
    </div>
    <div class="field">
      <p class="control">
        <a id="edit-listing" class="button is-success">Update</a>
      </p>
    </div>
  </form>


    <div class="field">
      <p class="control">
        <a class="button is-danger">DELETE</a>
      </p>
    </div>

  </div> <!-- end Edit Form Template -->

  <!-- <div class="column if-half">
    <h1>Activity Log</h1>
  </div> -->

</script>

<!-- Template to show each listing  -->
<script id="job-listing-template" type="text/x-handlebars-template">
  <div class="columns job-listing" data-id="{{ id }}">
    <div class="column is-1">{{ created_at }}</div>
    <div class="column is-2">{{ position }}</div>
    <div class="column is-2">{{ company }}</div>
    <div class="column is-2">{{ contact}}</div>
    <div class="column is-2">{{ url }}</div>
    <div class="column is-2">{{ notes }}</div>
    <div class="column notification is-1 is-success">{{ status }}</div>
  </div>
</script>

<script id="edit-listing-template" type="text/x-handlebars-template">
  <div class="field">
    <label class="label">Name</label>
    <p class="control">
      <input class="input" type="text" placeholder="Text input">
    </p>
  </div>

</script>

<script type="text/javascript">
  $(".delete").on( "click", function(event) {
  $(event.target).closest(".box").fadeOut( "slow" );
  });
</script>
