
<div class="container columns">
  <div class="column">
    <h1 class="notification is-success">This should be RED</h1>
  </div>
  <div class="column">
    <h1>This should be RED</h1>
  </div>
  <div class="column">
    <h1>This should be RED</h1>
  </div>
  <div class="column">
    <h1>This should be RED</h1>
  </div>
</div>
