<!-- attatch template to this -->
<section class="section">
  <div class="container">
    <div class="columns job-listing">
        <div class="column">Date Added</div>
        <div class="column">Position</div>
        <div class="column">Company</div>
        <div class="column">Contact</div>
        <div class="column">Url</div>
        <div class="column">Notes</div>
        <div class="column notification is-success">Status</div>
    </div>
  </div>
</section>

<!-- attach template to .job-listings -->
<section class="section job-listings"></section>



<script id="job-listing-template" type="text/x-handlebars-template">
  <div class="columns job-listing" data-id="{{ id }}">
    <div class="column">{{ created_at }}</div>
    <div class="column">{{ position }}</div>
    <div class="column">{{ company }}</div>
    <div class="column">{{ contact}}</div>
    <div class="column">{{ url }}</div>
    <div class="column">{{ notes }}</div>
    <div class="column notification is-success">{{ status }}</div>
  </div>
</script>
