<section class="section hero is-primary is-medium index_container">
  <div class="container">
    <div class="columns front-page">
    <div class="column is-half">
      <h1 class="title is-2">Jobs posted by your peers</h1>
      <table class="table job-ads">
        <thead>
          <tr>
            <th><abbr title="JobAd">No.</abbr></th>
            <th>Date Posted</th>
            <th><abbr title="Position">Position</abbr></th>
            <th><abbr title="Played">Posted By</abbr></th>
          </tr>
        </thead>
        <tbody class="job-listings">
        </tbody>
      </table>
    </div>
    <% if !logged_in? %>
      <div class="column is-half ">
            <div class="">
              <h1 class="title is-2">Registration Form</h1>
              <%= form_tag '/session/register', method: 'post' do %>
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <div class="field">
                <p class="control">
                  <label for=""></label>
                  <input class="input is-medium" class="input is-success" name="name" required type="text" placeholder="Your display name">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label for=""></label>
                  <input class="input is-medium" name="email" required type="email" placeholder="Your email address">
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <label for=""></label>
                  <input class="input is-medium" id="password" name="password" required type="password" placeholder="Create a password">
                </p>
              </div>
              <button class="button is-medium is-info" id="register" name="button">Sign up for Job Tracker </button>
              <% end %>
            </div>

      </div>
    <% end %>
  </div>
  </div>

<script id="job-posting-template" type="text/x-handlebars-template">
  <tr>
    <th>{{ count }}</th>
    <td>07 / 04 / 2017</td>
    <td> <a href="{{ url }}"> {{ position }} </a> ( {{ url_host }} )</td>
    <td> {{ user.name }} </td>
  </tr>
</script>

<script type="text/javascript">
function JobPostingsIndex(){
  var apiUrl = '/api/job_postings';
  var jobListingTemplate = Handlebars.compile( $('#job-posting-template').html() );
  $.ajax({ url: apiUrl }).done(renderIndex);
  function renderIndex(listings){
    //hard coded a test number
    var count = 1;
    listings.forEach(function(listing){
      listing["count"] = count;
      var x = new Date(listing.created_at);
      var fullDate = x.getDate() + " / " + (x.getMonth()+1) + " / " + x.getFullYear();
      listing.created_at = fullDate;
      var html = jobListingTemplate(listing);
      $('.job-listings').append(html);
      count++;
    });
  }
}

$(document).ready(function() {
  // Callback to Handlebar function
  JobPostingsIndex();
});
</script>
