<!-- attatch template to this -->
<section class="section">
  <div class="container">
    <div class="columns job-listing">
        <div class="column is-1">Date Added</div>
        <div class="column is-2">Position</div>
        <div class="column is-2">Company</div>
        <div class="column is-2">Contact</div>
        <div class="column is-2">Url</div>
        <div class="column is-2">Notes</div>
        <div class="column is-1 notification is-success">Status</div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container job-listings">
  <!-- attach template to .job-listings -->
  </div>
</section>

<script id="job-listing-template" type="text/x-handlebars-template">
  <div class="columns job-listing" data-id="{{ id }}">
    <div class="column is-1">{{ created_at }}</div>
    <div class="column is-2">{{ company }}</div>
    <div class="column is-2">{{ position }}</div>
    <div class="column is-2">{{ contact}}</div>
    <div class="column is-2">{{ url }}</div>
    <div class="column is-2">{{ notes }}</div>
    <div class="column notification is-1 is-success">{{ status }}</div>
  </div>
</script>

<script id="edit-listing-template" type="text/x-handlebars-template">
  <div class="columns job-listing" data-id="{{ id }}">
    <div class="field">
      <label class="label">Name</label>
      <p class="control">
        <input class="input" type="text" placeholder="Text input">
      </p>
    </div>
  </div>
</script>
