<section class="section register_container">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        <h1 class="title is-2">Registration Form</h1>


        <%= form_tag '/session/register', method: 'post' do %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="field">
          <p class="control">
            <label for=""></label>
            <input class="input is-medium" class="input is-success" name="name" required type="text" placeholder="Enter Username">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label for=""></label>
            <input class="input is-medium" name="email" required type="email" placeholder="Enter Email address">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label for=""></label>
            <input class="input is-medium" id="password" name="password" required type="password" placeholder="Enter Password">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label for=""></label>
            <input class="input is-medium" id="confirm_password" name="confirm_password"  required type="password" placeholder="Confirm Password">
          </p>
        </div>
        <button class="button is-medium" id="register" name="button">Register</button>
      </div>
    </div>
  </div>
</section>
        <% end %>
<!-- <script src="app.js"></script> -->
</body>
