body {
  background-size: 100%;
  background-image: url("https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.container {
  margin: 0 auto;
  width: 100%;
}

h1 {
  color: ;
}
