.index_container{
  /*background-image: url("https://images.pexels.com/photos/64778/pexels-photo-64778.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;*/
  height: 100vh;
}

.title {
  color: black;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.subtitle {
  color: black;
}

.current-user {
  font-weight: 700;
}

.job-listing {
  border: 1px solid grey;
}

.edit-form-wrap{
  transform: translateY(115%);
  width: 100%;
  margin: 0 auto;
  box-shadow: -2px -2px 2px rgba(0, 0, 0,.17);
  -moz-box-shadow: -2px -2px 2px rgba(0, 0, 0,.17);
  -webkit-box-shadow: -2px -2px 2px rgba(0, 0, 0,.17);
  padding: 30px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}

.show {
  transform: translateY(0%);
}

.front-page {
  justify-content: space-between;
}
.front-page .is-half {
  width: 45%;
}

.line {
  height: 2px;
  background-color: rgba(0,0,0,0.1);
  margin: 0.5em auto;
  display: block;
  width: 50%;
}

.edit-form-wrap .delete {
  position: absolute;
  right: 10px;
  top: -15px;
  background-color: rgba(10, 10, 10, 0.3);
}

.edit-form-wrap .delete:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.job-ads{
  font-size:1.1em;
  border-radius: 25px;
}

.job-ads td{
  padding:1em;
}

.add-listing-btn {
  display: block;
  cursor: pointer;
}

.create-listing-wrap {
  display: none;
}

.fa.add-plus {
  vertical-align: middle;
  margin-left: 1em;
}

.login-form, .nav-left {
  display: flex;
  align-items: center;
}

.nav-right{
  padding: 1em;
}

.nav-right .field {
  margin-bottom: 0;
}

.nav-right button {
  margin-left: 1em;
}

.hero .title:not(:last-child) {
  margin-bottom: 0;
}

.front-page .is-half .title {
  margin-bottom: 1em;
  text-align: center;
}
